.mediaContainer {
    position: relative;
}

.mediaScroller {
    overflow-x: auto;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 3rem;
    scroll-padding-inline: 3rem;
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.mediaScroller::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome y Safari */
}

.mediaGroup {
    grid-auto-columns: 1fr;
    border: 3px solid limegreen;
    position: relative; /* Añade esto */
}

.mediaElement {
    border-radius: 0.25rem;
    overflow: hidden;
}

.mediaElement > img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.next, .previous {
    display: none; /* Ocultar por defecto */
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
    cursor: pointer;
}

.previous {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.mediaScroller:hover :where(.next, .previous) {
    opacity: 1;
}

:where(.next, .previous):hover {
    background: rgb(0 0 0 / 0.3);
}

:where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
}

:where(.next, .previous):hover > svg {
    transform: scale(1.2);
}
