/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-image: url('/src/front/assets/img/background1.svg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
  max-width: 100%;
  display: block;
}

/* Navbar */
.NavBar {
  background-color: #1A1A1A;
  padding: 1rem;
  border-bottom: 3px solid #FFB7C3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.NavBar .navbar-brand.Home,
.NavBar .navbar-nav .nav-link {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFB7C3;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.2);
  color: #8C2E47;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FF9800' stroke-width='3' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Barra de búsqueda */
#buscar {
  width: 300px;
  padding: 10px;
  border: 1px solid #FF9800;
  background: rgba(31, 30, 30, 0.705);
  color: white;
  border-radius: 15px;
}

#buscar::placeholder {
  color: #f8f6f6b0;
}

/* Menú de usuario */
.user-menu {
  background: none;
  border: none;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  transition: transform 0.2s ease-in-out;
}

.user-menu:hover {
  transform: scale(1.1);
}

.user-menu i {
  font-size: 3rem;
  color: #FF9800;
}

/* Profile Card VEEEEEEEEEEEEEEEEEEEEEEEER*/
.profile-card {
  background-color: #1a1a1a;
  border-radius: 0.625rem;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  max-height: 20rem;
}

.profile-card img {
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto 1rem;
}
/* Profile Card VEEEEEEEEEEEEEEEEEEEEEEEER*/

.profile-card .card-title {
  font-weight: bold;
  color: white;
}

.profile-card .Gender {
  font-size: 1rem;
  color: #888;
  margin-bottom: 1rem;
}

.profile-card .btn-secondary {
    border: none;
    padding: 0.5rem 1rem;
}

.profile-card .btn-secondary:hover{
    background-color: #e65a50;
}

/* About Me */
.abtMe {
    background-color: #1a1a1a;
    padding: 1rem;
    margin-top: 1rem;
    min-height: 18rem;
    max-height: 18rem;
    overflow: hidden;
}

.abtMe h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.abtMe h6 {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
}

/* Achievements */
.archieve-container {
  background-color: #1a1a1a;
  border-radius: 0.625rem;
  padding: 1rem;
  text-align: center;
  margin: 1rem 0;
  max-height: 18rem;
  overflow: hidden;
}

.archieve-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.archieve-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
  padding: 0;
}

.archieve-list li {
  flex: 1 1 calc(13% - 0.5rem);
}

/* Cards */
.list-card {
    background-color: #1a1a1a;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
}

.list-card p {
    margin: 0;
}

.list-text {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 2;
}

/* Info Bar */
.categorieBar {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0rem 1rem;
}

/* Media Scroller */
.scroller-container {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    --img-gap: .5rem;
    display: flex;
    width: 100%;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 0.7s ease-in-out;
    will-change: transform;
    padding-bottom: 1rem;
}

.slide-item {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    padding: 0 var(--img-gap);
    box-sizing: border-box;
    overflow: hidden;
    border-radius:1rem;
}

/* Arrow styles (hidden by default in here o.o) */
.arrow {
    position: absolute;
    top: 0;
    height: 96%;
    width: 3rem;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.slider-container:hover .arrow {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.5);
}

.arrow svg {
  width: 4rem;
  height: 4rem;
  transition: transform 0.3s ease;
}

.arrow svg:hover {
  transform: scale(1.2);
}

.left-arrow {
    left: 0;
    border-top-left-radius: 0.02rem;
    border-bottom-left-radius: 1rem;
}

.right-arrow {
    right: 0;
    
    border-top-right-radius: 0.02rem;
    border-bottom-right-radius: 1rem;
}

/* Responsive breakpoints */
@media (min-width: 2160px) {
  .slider {
    --items-per-screen: 6;
  }
}

@media (max-width: 2159px) {
    .slider { --items-per-screen: 5; }
}

@media (max-width: 1720px) {
    .slider { --items-per-screen: 5; }
}

@media (max-width: 1720px) {
  .slider {
    --items-per-screen: 5;
  }
}

@media (max-width: 1024px) {
  .slider {
    --items-per-screen: 4;
  }
}


@media (max-width: 800px) {
  .slider {
    --items-per-screen: 3;
  }
}

@media (max-width: 568px) {
  .slider {
    --items-per-screen: 2;
  }
  .arrow svg {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 480px) {
  .slider {
    --items-per-screen: 1;
  }
  .arrow {
    width: 2rem;
  }
}

/*INTERACTION BUTTONS*/

/* Icons inside every image*/
.slide-item {
    position: relative;
  }
  
  /*Organization of buttons*/
  .button-overlay {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    padding: 1rem 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 2;
  }
  
  /*Show buttons on hover*/
  .image-container:hover .button-overlay {
    opacity: 1;
  }
  
  .boton {
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    pointer-events: auto;
  }
  
  .boton:hover{
    transform: scale(1.2);
  }
  
  /* Button Default Colors */
  #favoritos { background-color: red; }
  #ver-mas-tarde { background-color: orange; }
  #viendo { background-color: purple; }
  #terminado { background-color: #2ecc71; }

  
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/4;
  transition: transform 0.3s ease;
}

/* Overlay del gradiente (inicialmente oculto) */
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

/* To show on hover the gradient */
.image-container:hover .slide-image,
.image-container:hover::after {
    transform: scale(1.03);
    opacity: 1;
}

.empty-list-message{
  color: white;
  font-weight: bold;
  margin-left: 14.2rem;
}

.titleLink{
    text-decoration: none;
}

.anime-title{
    color:#ff6f61;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 10;
}

.anime-title:hover{
    color:#ff6f61;
    z-index: 50;
}

.button-overlay{
    margin-bottom: 2.5rem;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Esto hace que la imagen sea circular */
    object-fit: cover; /* Esto asegura que la imagen se ajuste bien */
    cursor: pointer; /* Hace que el cursor cambie cuando se pasa sobre la imagen */
}

.image-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; /* Esto oculta el input, pero aún es clickeable */
    cursor: pointer;
}

.editEraseLogOut{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap; /* Por si se reduce mucho el tamaño de pantalla */
}

.editEraseLogOut button {
    min-width: 6rem; /* Puedes ajustar este valor según lo necesites */
    height: 40px;
    margin: 0 5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
}
 
@media (min-width: 2052px) {
    .custom-wide-fix {
      margin-left: 40%;
      width: 20.333%;  
    }
  }

  .likes-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: #d35c51;
    padding: 5px;
  }
  
  .like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 5px;
    color: #aaa; /* Color por defecto */
  }
  
  .like-button.liked {
    color: #007bff; /* Color cuando se ha dado like */
  }
  
  .like-button:focus {
    outline: none;
  }
  
  .like-count {
    font-size: 1em;
    color: #555;
  }

  .anime-card div{
    margin-top: 2rem;  
  }
  .genres-list-item{
    margin-bottom: 1rem;
  }
  .estado-list-item{
    margin-bottom: 1rem;
  }
  .puntuacion-list-item{
    margin-bottom: 1rem;
  }
  .episodios-list-item{
    padding-bottom: 1rem;
  }

  .recommendations-container {
    margin-top: 40px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recommendations-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background: #1a1a1a;
    padding: 1.5rem;
    border-radius: 8px;
  }
  
  .recommendation-card {
    width: 200px;
    margin: 35px;
    text-align: center;
    display: inline-block;
    padding: 5px;
  }
    
  .recommendation-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .recommendations-container h2 {
    color: #ff6f61;
    text-decoration: underline;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .recommendation-card:last-child {
    margin-right: 0;
  }
  
  .title-anime {
    font-size: 12px;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white
  }

anime-buttons button,
.watching-button,
.favorite-button,
.trailer-button{ 
  background-color:#121212; 
  color: #0a95c0bb; 
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size:2rem;
  margin-left:8px;
}
.watching-button::after:active{
  background-color: purple;
}

.card-body{
  background: #1a1a1a;
  border-radius: 2%;
  height: 30rem;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-left: 2rem;
  margin-right: 10rem;
  color: white;
  overflow: hidden;
}

@media (max-width: 768px) {
  .anime-card {
    flex-direction: column;
  }
  .cover-image {
    width: 100%;
  }
  .card-body {
    width: 100%;
  }
}
.anime-card {
    display: flex; /* Enable flexbox for the main container */
    flex-direction: row; /* Arrange items in a row */
    align-items: flex-start; /* Align items to the start (top) */
    margin-bottom: 20px; /* Add some margin below the card */
}

.card-body {
    background: #1a1a1a;
    border-radius: 2%;
    padding-top: 10px;
    color: white;
    flex: 1; /* Allow the card body to take up remaining space */
}

@media (max-width: 768px) {
    .anime-card {
        flex-direction: column; /* Stack image and card body on small screens */
    }

    .container-image {
     width: 40rem;
    }
    
    #imagen_anime{
        width: 100%;
    }

    .card-body {
        width: 100%;
    }
}

.animeInfo{
  margin-left: 10rem;
}

#imagen_anime {
  width: 20rem;
  height: 30rem; /* o lo que prefieras */
  object-fit: cover; /* o 'contain', según lo que prefieras */
  border-radius: 8px;
}

.buttons-card {
  display: flex;
  justify-content: center;
}

.container-image {
  margin-left: 10rem;
 }