* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 



.recommendations-container {
  padding: 20px;
  margin-top: 40px;
}

.recommendations-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.recommendation-card {
  width: 200px; /* Aumenta el ancho de las tarjetas */
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  
}
.recommendations-container h2{
  color: #ff6f61;
  text-decoration:underline;
}
.recommendation-card img {
  max-width: 100%;
  height: 60%;
}

.title-anime {
  font-size: 14px; /* Reduce el tamaño de la fuente */
  margin: 15px; /* Ajusta el margen */
  margin-right: 5rem;
  white-space: nowrap; /* Evita que el texto se envuelva */
  overflow:hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra puntos suspensivos */
}
anime-buttons button,
.watching-button,
.favorite-button,
.trailer-button,
.watchLater-button,
.finished-button { 
  background-color: #050505; 
  color: #333; 
  border: none;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-size:2rem;
}
.watching-button::after:active{
  background-color: purple ;
}

@media (max-width: 768px) {
  .anime-card {
    flex-direction: column;
  }
  .cover-image {
    width: 100%;
    
  }
  .card-body {
    width: 100%;
  }

}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: white;
  background: #121212;
}



/* Barra de navegación */
.NavBar {
  background-color: rgba(46, 99, 121, 0.103);
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Navbar text color */
.NavBar .navbar-brand.Home,
.NavBar .navbar-nav .nav-link {
  color: #ff6f61;
}

.navbar-brand.Home {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d35c51;
}

.navbar-nav .nav-link {
  background-color: rgba(46, 99, 121, 0.103);
    padding: 10px; 
    border-radius: 15px; 
    text-align: center; 
    display: inline-block;  
    margin: 0.5rem;
   font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
/*     color: #e92c1b;
 */    transform: scale(1.2);
 
}
.navbar-toggler-icon {
  background-color: white;
}

#buscar{
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  background: rgba(31, 30, 30, 0.705);
  color: white;
  }
#buscar::placeholder{
  color: #f8f6f6b0;
}
.user-menu{
  background:none;
  border: none;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  transition: transform 0.2s ease-in-out;
}
.user-menu:hover{
  transform: scale(1.1);
}
.user-menu i{
  font-size: 3rem;
  color: #ff6f61;
}